

.header{
    display:flex;
    flex-flow: row wrap;
    /*border: 1px solid goldenrod;*/
    align-items: center;
    width: 100%;
    background: rgb(148, 228, 148);
    
   
    
    
}
.menu{
    padding-left: 30%; /*para alinhar os elementos da esquerda a direita*/
    
    
    margin-left: 25%;
}
.barra{
    width: 100%;
    height: 50px;
    background:  rgb(148, 228, 148);
   
    
}
.content{
    display: flex;
    gap:60px;
    justify-content:center;/*existe também o around e o betwe*/
    
    align-items: center;
    background:yellow;
    border: 3px solid ;
    
}
.section-img{
    
    background: red;
    width: 300px;
    height: 500px;
    margin-right: auto;
    
}
.logo{
   
    width: 255px; 
    height: 480px; 
}

.list-adicionar{
    background: red;
    width: 400px;
    height: 500px;
    margin-right: auto;
}
.list-adicionado{
    background: red;
    width: 400px;
    height: 500px;
    margin-right: auto;
}

.flex-linha{
    display: grid;
}
h1{
    margin-bottom: 10%;
    text-align: center;
}

.menu-itens
{
    display: none; /* Esconde a lista inicialmente */
    margin-top: 10px;
    padding: 10px;
    border: 0px solid #ccc;
    width: 150px;
    background:none;
    border-radius: 5px;
}
.menu-itens li:hover {
    background: #d80606; /* Destaca o item ao passar o mouse */
}

/*Agora vamos trabalhar nos icones adiconados*/

.itens{
    background: black;
    height: 25px;
    display: flex;
    
    
}

.elemento{
    background: rgb(0, 255, 34);
    width: 250px;
    margin-left: 5px;
    
}
.div_iconeadd{
  
    background: blue;
    width: 70px;
}
.div_iconerem{
    background: gray;
    width: 70px;
}
.tarefa {
    display: flex;
    background: black;
    height: 25px;
    display: flex; 
    
   
  }
  .addmais{
    display: none

  }
