h1{
    margin-bottom: 10%;
    text-align: center;
}
/*Itens do cabecalho*/
.nav-item .nav-link{
    color: #333;
    font-size: 18px;

    
}
.nav-item .nav-link:hover
{
    background: #013220;
    color:#2D8C8C ;
    font-size: 20px;
}

.flex-linha{
    display: grid;
}
.flex-linha1{
    display: flex !important;       /* Coloca os elementos lado a lado */
    gap: 5px;               /* Espaço entre input e botão */
    align-items: center;     /* Alinha verticalmente */
    margin-top: 10px; 
   
}
/*Parte1*/
.header{
    background:#028052;;
    display:flex;
    flex-flow: row wrap;
    /*border: 1px solid goldenrod;*/
    align-items: center;
    width: 100%;
    
    
}
/*Parte2*/
.menu{
    padding-left: 30%; /*para alinhar os elementos da esquerda a direita*/
    
    
    margin-left: 25%;
}
/*Parte3*/
.barra{
    width: 100%;
    height: 50px;
    background:  #013220;
   
    
}
/*Parte3.1*/
.piscar_vermelho {
    animation: piscar-colorido  4s infinite; /* e uma funcao*/
  }
  
  /* Define a animação */
  @keyframes piscar-colorido {
        0% { color: red; opacity: 1; }
        50% { color: rgb(11, 253, 23); opacity: 0; }
        100% { color: red; opacity: 1; }
      
  }
/*Parte 4*/
.content{
    background: #fde5ca;
    display: flex;
    gap:60px;
    justify-content:center;/*existe também o around e o betwe*/
    
    align-items:flex-start;
    
    
    height: 600px;
    
}
/*Parte 4.1 Imagem1*/
.section-img{
    /*Aonde esta a imagem*/
    
    background: #f8e6c4;
    width: 500px;
    height: 575px;
    margin-right: auto;
    
}
/*Parte 4.1.1 Imagem1*/
.logo{
    
    align-items:center;
    width: 400px; 
    height: 570px !important;
    border-radius: 40px;
    filter: blur(0.1px);
 
    
    
}
/*Parte 4.2 Itens */

/* Parte 4.2.1. Lista Div Principal*/
.list-adicionar{
    background: #f8e6c4;
    width: 400px;
    height: 575px;
    margin-right: auto;   
}
/* Parte 4.2.2. Lista Div soconteudo*/

.list_only_list:hover{
    background:#ffc888;
    width: 170px;
    height: auto;
    margin-right: auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */

}
/* Parte 4.2.3. Div para lista escondida inicialmente*/
.menu-itens
{
    display: none; /* Esconde a lista inicialmente */
    margin-top: 10px;
    padding: 10px;
    border: 0px solid #ccc;
    width: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
}
 

/*Parte 4.2.3.Tamanho de Letra da palavra itens */
.itens_a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem; /* ou o tamanho que você quiser */
    font-family: "Courier New", monospace;
}
/*Parte 4.2.3.1.Tamanho de Letra da palavra itens */
.text_itens{
    margin-left: 8px;
    
}
/*Parte 4.2.3.2 Poiter no Itens*/
.text_itens:hover{
    cursor: pointer;
     
 }
/*Parte 4.3.formatacao da lista */
.menu-itens{
    font-family: "Courier New", monospace;
}
.menu-itens li{
    list-style: none;
    border-bottom: black solid 1px;
    margin-left: 0px;
    margin-bottom: 7px;
}

/*Parte 4.3.1.Destaque na lista */

.menu-itens li:hover {
    background: rgb(190, 212, 187) ; /* Destaca o item ao passar o mouse */
}
/*Parte 4.3.2.formatacao dos nomes da lista*/

.menu-itens li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 1.2rem;
    
    
}

  /*Parte 4.4.1..Botão adicionar*/

  .btnAdicionar{
    background: none;
    border: 0px;
    margin-top: 7px;
    margin-left: 0;
    padding: 0;
    text-align: left;   
}
.btnAdicionar:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);;
}

.btnAdicionar span{
    /*Activa a mobilidade dos conteudos*/
    
    color:rgb(78, 72, 72);
    
}
 /*Parte 4.4.2.icone do mais */
.plus-circle-outline{
   
    color:#069dd8;
    width:25px;
    height:25px;
    
    margin: 0;
    padding: 0;   
}
/*Parte 4.4.Botão adicionar*/
.addmais{
    display: none !important
  }
  /*Parte 4.5.Formatar input*/
#newitem {
  width: 100px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #ffffff;
}
#newitem:focus {
    border-color: #2f3333;
    box-shadow: 0 0 5px #a0fda3;
  }
/*Parte 4.6 Estilo do botao*/
#btnsalvar {
    color: #008F56;
    /*padding: 10px 16px;*/
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: none;
   /* transition: background-color 0.3s ease, transform 0.2s ease;*/
  }
#btnsalvar:hover{
   /* box-shadow: 0 0 5px #2D8C8C;*/
    background:#2f3333;
}
  
/*Parte 5.Lista dos tens adicionados*/

.list-adicionado{
    /* background: red;*/
    background: #f8e6c4;
     font-family: "Courier New", monospace;
     width: 500px;
     height: 500px;
     margin-right: auto;
 }
 /*Parte 5.1.Lista dos tens adicionados*/
.list-adicionado .list-only-adding{
    
    font-size: 24px;
    border-radius: 8px;
    color: #2e8b57;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
}

.list-adicionado .data {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

/* Parte 5.4. Div dos itens adicionados*/
.itens_adicionandos{
 background:   #ffc888;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
 margin-right: 20px;
 border-radius: 20px;
    
 
}
.itens{
    
    height: 25px;
    display: flex;
    
    
}

/* Parte 5.1.1 Div dos itens adicionados ,o elemento*/
.elemento{
    
    width: 250px;
    margin-left: 5px;
    
}
/* Parte 5.1.2 Div dos itens adicionados ,o icone chech*/
.div_iconeadd{
    width: 70px;
    display: grid;
    place-items: center; /* centraliza tanto horizontal quanto vertical */  
}
/*Marcar tarefa*/
.mdi-checkbox-blank-outline{
    
    font-size: 20px;
    
    
}
.mdi-checkbox-marked-outline{
    font-size: 20px;
    color:#1b9702e1;
    
}
.div_iconeadd:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
/* Parte 5.1.3 Div dos itens adicionados ,deletar*/
.div_iconerem{
    
    width: 70px;
    display: grid;
    place-items: center
}

.div_iconerem:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

/* Parte 5.2. Novos itens */
.tarefa {
    display: flex;
    background: black;
    height: 25px;
    display: flex; 
    
   
  }

  /*Parte 6 Outras*/
 
  /*Dando agora estética ao meu programinha
  */

  .piscar_vermelho {
    animation: piscar-colorido  4s infinite; /* e uma funcao*/
  }
  
  /* Define a animação */
  @keyframes piscar-colorido {
        0% { color: red; opacity: 1; }
        50% { color: rgb(11, 253, 23); opacity: 0; }
        100% { color: red; opacity: 1; }
      
  }
 

/*Icone adicionar +*/
/* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);*/
/*box-shadow: 0 0 5px #a0fda3;*/

/**** Amimando os itens******/
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  /*Tarefas concluídas*/

#tarFeita{
    color: #0aff53;
    font-size: 17px;
    background: #013220;
    width: 427px;
}
/**/
.footer{
    padding-top:10px;
    padding-bottom: 10px;
    background: #005a39;
    
}
ul.nav li a{
    color: black !important;
    text-decoration: none;

}
ul.nav li a:hover{
    color: rgb(0, 0, 253) !important;
    
}

.social-1{
    margin-left: 5px;
    
}
.social-2{
    margin-left: 19px;
}
.social-3{
    margin-left: 5px;
}
